<div>



<form method="POST">
    <h2 class="text-center mb-4"><span style="color:orange"> Login Here</span></h2>
   <br>
   
   <div class="form-flolating">
     <input class="form-control mb-3" type="email" name="email" placeholder="Enter Email Here">
   </div>

   <div class="form-flolating mb-4">
     <input class="form-control mb-3" type="password" name="password" placeholder="Enter password Here">
   </div>

   

   <div class="text-center a">
     <button type=" button" class="loginbtn  px-4 fw-bold fs-6">Login</button>
   </div>
  

 </form>
</div>