  <form>
            <div class="form-flolating">
              <input class="form-control mb-3" type="email" name="" placeholder="Enter Email Here">
            </div>

            <div class="form-flolating mb-4">
              <input class="form-control mb-3" type="password" name="" placeholder="Enter password Here">
            </div>

            <a class="mb-4 text-white nav-link active fs-5" aria-current="page" href="#"><span
                style="color:orange">Forgot Password ?</span></a>

            <div class="text-center a">
              <button type=" button" class="loginbtn  px-4 fw-bold fs-6">Login</button>
            </div>
              </form>